<mat-card-content style="display: flex;align-items: center;flex-direction: column;">
<mat-stepper orientation="vertical">
      <mat-card-content>      
  <mat-step>
    <ng-template matStepLabel>{{questions[0].title}}</ng-template>
        <ng-template matStepContent>
            <section class="example-section">
              <mat-radio-group [(ngModel)]="questions[0].selected">
                <mat-radio-button class="example-margin" [value]="option" *ngFor="let option of questions[0].options">{{option}}</mat-radio-button>
              </mat-radio-group>
            </section>
      </ng-template>
  </mat-step>
</mat-card-content>
      <mat-step>
      <mat-card class="example-result-card">
        <mat-card-content>     
          <ng-template matStepLabel>{{questions[1].title}}</ng-template> 
          <div class="example-label-container">
            <label id="example-name-label" class="example-name-label">Value: </label>
            <label class="example-value-label">{{questions[1].selected}}</label>
          </div>
          <mat-slider (change)="onChange(questions[1].selected,questions[1])"
              class="example-margin"
              [disabled]="disabled"
              [max]="max"
              [min]="min"
              [step]="step"
              [discrete]="thumbLabel"
              [showTickMarks]="showTicks" style="width: 100%;">
            <input matSliderThumb [(ngModel)]="questions[1].selected">
          </mat-slider>
        </mat-card-content>
      </mat-card>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>{{questions[2].title}}</ng-template>
        <ng-template matStepContent>
            <section class="example-section">
              <mat-radio-group [(ngModel)]="questions[2].selected">
                <mat-radio-button class="example-margin" 
                [value]="option" 
                *ngFor="let option of questions[2].options"
                (change)="openDialog($event.value,questions[2])">{{option}}</mat-radio-button>
              </mat-radio-group>
            </section>
      </ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>{{questions[3].title}}</ng-template>
        <ng-template matStepContent>
            <section class="example-section">
              <mat-radio-group [(ngModel)]="questions[3].selected">
                <mat-radio-button class="example-margin" 
                [value]="option" 
                *ngFor="let option of questions[3].options"
                (change)="onChange($event.value,questions[3])">{{option}}</mat-radio-button>
              </mat-radio-group>
            </section>
      </ng-template>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>{{questions[4].title}}</ng-template>
        <ng-template matStepContent>
            <section class="example-section">
              <mat-radio-group [(ngModel)]="questions[4].selected">
                <mat-radio-button class="example-margin" [value]="option" *ngFor="let option of questions[4].options"
                (change)="onChange($event.value,questions[4])">{{option}}</mat-radio-button>
              </mat-radio-group>
            </section>
      </ng-template>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>{{questions[5].title}}</ng-template>
        <ng-template matStepContent>
        <mat-form-field appearance="fill" style="width: 100%;">
          <mat-label>Favorite food</mat-label>
          <mat-select [(value)]="questions[5].selected">
            <mat-option></mat-option>
            <mat-option [value]="option" *ngFor="let option of questions[5].options">{{ option }}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>{{questions[6].title}}</ng-template>
        <ng-template matStepContent>
          <section class="example-section">
            <mat-checkbox class="example-margin" [(ngModel)]="option.selected" *ngFor="let option of questions[6].options">{{option.label}}</mat-checkbox>
          </section>
          </ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>{{questions[7].title}}</ng-template>
        <ng-template matStepContent>
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="questions[7].selected">
            <mat-radio-button class="example-radio-button" *ngFor="let season of questions[7].options" [value]="season">
              {{season}}
            </mat-radio-button>
          </mat-radio-group>
        </ng-template>
      </mat-step>
  </mat-stepper>
  <button class="save-btn-mgnt" mat-raised-button color="primary" (click)="saveQuestions()" style="padding: 25;">Save</button>
</mat-card-content>